* {
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: Fira Mono, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  color: #ebdbb2;
  background: #1d2021;
}

#workspaces button {
  border: 3px;
  border-style: solid;
  border-color: transparent;
  color: #ebdbb2;
}

#workspaces button.focused {
  border-color: #4FA19F;
  font-weight: bold;
}

#mode {
  color: #282828;
  background: #fabd2f;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #mode, #idle_inhibitor {
  padding: 0 15px;
}

#clock {
  font-weight: bold;
  border-style: hidden;
  background: transparent;
}

#backlight {
  background-color: #383938;
}

#battery {
  background: #B5603B;
}

#battery.charging {
  color: #1d2021;
  background-color: #d8bb26;
}

@keyframes blink {
  to {
    background-position:left bottom;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ebdbb2;
  background: linear-gradient(to bottom, #f53c3c 50%, #1d2021 50%);
  background-size: 100% 200%;
  background-position:left top;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  background: #4B6679;
}

#network.disconnected {
  background: #924C43;
}

#pulseaudio {
  background: #85A07B;
}

#pulseaudio.muted {
  color: #1d2021;
  background: #F2B58A;
}

#tray {
  border-style: hidden;
  background-color: transparent;
}
