* {
  border: none;
  font-family: Fira Mono, Roboto, Noto Sans CJK JP, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  min-height: 0;
}

window#waybar {
  color: #ffffff;
  background: transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  margin: 0 2px;
  background: #202324;
  color: #ffffff;
  border: 2px solid transparent;
}

#workspaces button.focused {
  border-color: #3B8C8A;
}

#mode {
  background: #64727D;
  border-bottom: 2px solid #ffffff;
}

#window, #clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
  background: #202324;
  padding: 0 2px;
  margin: 0 4px;
  border-width: 2px;
  border-style: solid;
}

#clock {
  border-color: #bd93f9;
}

#battery {
  border-color: #e6e6e6;
}

#battery.charging {
  border-color: #5af78e;
}

@keyframes blink {
  to {
    background-position:left bottom;
  }

}

*#battery.critical:not(.charging) {
  border-color: #CC4758;
  background: linear-gradient(to bottom, transparent 50%, #CC4758 50%);
  background-size: 100% 200%;
  background-position:left top;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  border-color: #90b1b1;
}

#network {
  border-color: #8be9fd;
}

#network.disconnected {
  border-color: #ff676e; /*#ff5555; */
}

#pulseaudio {
  border-color: #f1fa8c;
}

#pulseaudio.muted {
  border-color: #90b1b1;
}

#tray {
  border-color: #6d93f9;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
